In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('data/movies.csv')

In [22]:
df.head()

,title,overview,genres,tagline,vote_average,popularity
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,7.7,21.946943
1,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",Roll the dice and unleash the excitement!,6.9,17.015539
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Still Yelling. Still Fighting. Still Ready for...,6.5,11.7129
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",Friends are the people who let you be yourself...,6.1,3.859495
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",Just When His World Is Back To Normal... He's ...,5.7,8.387519

In [23]:
df.isnull().sum()

title               6
overview          954
genres              0
tagline         25045
vote_average        6
popularity          5
dtype: int64

In [24]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 45453 entries, 0 to 45452
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         45447 non-null  str
 1   overview      44499 non-null  str
 2   genres        45453 non-null  str
 3   tagline       20408 non-null  str
 4   vote_average  45447 non-null  float64
 5   popularity    45448 non-null  str
dtypes: float64(1), str(5)
memory usage: 2.1 MB

In [25]:
df = df.dropna(subset=['title'])

In [26]:
df.isna().sum()

title               0
overview          954
genres              0
tagline         25039
vote_average        0
popularity          0
dtype: int64

In [27]:
df['overview'] = df['overview'].fillna('')

In [28]:
df.isna().sum()

title               0
overview            0
genres              0
tagline         25039
vote_average        0
popularity          0
dtype: int64

In [30]:
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [32]:
df['genres'] = df['genres'].str.findall("'name': '([^']*)'")

df['genres'] = df['genres'].apply(lambda x: " ".join(x))

In [33]:
df['genres']

0         Animation Comedy Family
1        Adventure Fantasy Family
2                  Romance Comedy
3            Comedy Drama Romance
4                          Comedy
                   ...
45448                Drama Family
45449                       Drama
45450       Action Drama Thriller
45451
45452
Name: genres, Length: 45447, dtype: str

In [34]:
df['tagline'] = df['tagline'].fillna('')

In [35]:
df.isnull().sum()

title           0
overview        0
genres          0
tagline         0
vote_average    0
popularity      0
dtype: int64

In [36]:
df['tags'] = df['overview']+' '+df['genres']+' '+df['tagline']

In [37]:
df['tags'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: tags, dtype: str

In [38]:
df['tags'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. Animation Comedy Family "

In [39]:
df.to_csv('data/movies_w_tag.csv')